<div class="d-flex" style="height: 100vh;">
    <div class="w-25 p-2 left-side">
        <h1>ISS Tracker</h1>
        <app-saved-locations></app-saved-locations>
    </div>
    <div class="w-75 p-2">
        <div class="d-flex flex-column">
            <div class="p-2"><h4>Current location</h4></div>
            <div class="flex-fill p-2" *ngIf="location">
                <p>Lat : {{location.latitude}}, Lon : {{location.longitude}}</p>
                <p>Time :{{location.date| date:'YYYY-MM-dd hh:mm:ss'}}</p>
            </div>
            <div>
                <p-tabMenu [model]="tabs" [activeItem]="activeItem"></p-tabMenu>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>