<span class="p-input-icon-right">
    <input type="text" pInputText placeholder="Search loation name" #search/>
</span>
<p-scrollPanel class="locationsPanel" [style]="{width: '100%', height: '100%'}">
<p-card header="" *ngFor="let location of filteredLocations" (click)="locationClicked(location)">
  <ng-template pTemplate="header">
    <h6 class="float-start">{{location.name}}</h6>
  <div class="float-end"><button (click)="deleteLocation(location.name)" type="button"><i class="pi pi-times float-end"></i></button>  
  </div>
  </ng-template>   
    <div> Latitude : {{location.latitude}}</div>
   <div>Longtitude: {{location.longitude}}</div>
   <div>Date: {{location.date | date:'YYYY-MM-dd hh:mm:ss' }}</div>
   
</p-card>
</p-scrollPanel>